.questionPage {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
}

.header {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid #212121;
  width: 400px;
  padding: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content img {
  width: 150px;
}

.questions form {
  display: flex;
  flex-direction: column;
}

.questions form label {
  font-size: 18px;
  padding: 10px;
}
.or {
  font-size: 20px;
}

.option1,
.option2 {
  display: flex;
  justify-content: space-between;
}
.vote {
  text-align: center;
  color: green;
  font-size: 30px;
}
.option1 {
  border-bottom: 1px solid black;
}

.questionPage button {
  cursor: pointer;
  background: #212121;
  margin: 10px;
  height: 40px;
  color: white;
  border: none;
}
.questionPage button:hover {
  background: #464545;
}
.questionPage button:disabled {
  background: rgb(99, 98, 98);
  cursor: not-allowed;
}
