.questionPage {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content img {
  width: 150px;
}

.questions form {
  display: flex;
  flex-direction: column;
}

.questions form label {
  font-size: 18px;
  padding: 10px;
}
.or {
  font-size: 20px;
}
